@import '~src/styles.scss';

.overlay {
    background: rgba(0,0,0,0.54);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 110;
    // display: flex;
    // justify-content: center; /*左右中央揃え*/
    // align-items: center;     /*上下中央揃え*/
}

.popup {
    position: fixed;
    height: 274px;
    width: 315px;
    top: 160px;
    left: 30px;
    text-align: center;    
    background-color: rgba(#FFFFFF, 1.0);
    border-radius: 10px;    
    padding: 32px;
    box-sizing: border-box;
    z-index: 120;
}

.popup_message {
    margin-top: 40px;
}

.popup_icon {
    width: 120px;
    height: 120px;
}

.popup_text{
    margin-bottom: 20px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.8px;
}