<div class="overlay">

  <div class="popup">
    <img src="/assets/share.svg" class="popup_icon">
    <div class="popup_message">
      <div class="popup_text">TODOリストを共有しますか?</div>

      <button class="action-btn-no" style="margin-left:15px" >いいえ</button>
      <button class="action-btn" style="margin-left:15px" >はい</button>

      <div style="padding-left: 30px; padding-top: 30px;">
        <div style="float: left;" class="popup_text">通知設定は</div>
        <img style="float: left;" src="/assets/settings.svg" class="setting_icon">
        <div style="float: left;" class="popup_text">アイコンからできます</div>
      </div>

    </div>
  </div>
</div>
