@import '~src/styles.scss';

.overlay {
    background: rgba(0,0,0,0.54);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center; /*左右中央揃え*/
    align-items: center;     /*上下中央揃え*/
}
  
.popup {
    width: 315px;
    height: 365px;
    text-align: center;    
    background-color: rgba(#FFFFFF, 1.0);
    border-radius: 10px;    
}

.popup_message {
    margin-top: 40px;
}

.popup_icon {
    margin-top: 15px;
    width: 124px;
    height: 95px;
}

.setting_icon {
    height: 16px;
    width: 16px;
}

.popup_text{
    margin-bottom: 20px;
}

.action-btn {
    height: 40px;
    width: 100px;
    padding: 4px 16px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 4px;
    background: $primary;
    cursor: pointer;
}

.action-btn-no {
    height: 40px;
    width: 100px;
    padding: 4px 16px;
    font-size: 16px;
    color: $primary;
    border-color : #447CE6;
    border-width: 1px;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
  }

  .noda {
      
  }