<div id="main-page">
  <header class="header">
    <app-text size="p-7" weight="bold" text="全てのTODO"></app-text>
  </header>
  <ng-container *ngIf="todos && 0 < todos.length; else empty">
    <div class="todo-list">
      <ng-container *ngFor="let todo of todos">
        <app-todo [todo]="todo" (click)="showDetail(todo)"></app-todo>
      </ng-container>
    </div>
  </ng-container>
  <ng-template #empty>
    <div class="empty-wrapper">
      <img src='/assets/empty-illust.svg' alt=''>
    </div>
  </ng-template>

  <div *ngIf="!initialized" class="overlay"></div>
  
  <!-- <app-add-todo></app-add-todo>
  <app-text [text]="'test message'"></app-text>
  <button (click)="pushTodo()">push</button> -->
  <div *ngIf="!completeDialogShow" style="position:fixed;" [style.bottom]="typing ? '0' : '55px'" class="input-and-footer">
    <ng-container *ngIf="initialized; else setName">
      <app-input-text-modal [mode]="'task'"></app-input-text-modal>
    </ng-container>
    <ng-template #setName>
      <app-input-text-modal [mode]="'name'" (changeName)="changeName($event)"></app-input-text-modal>
    </ng-template>
  </div>
  <ng-container *ngIf="!typing && !completeDialogShow">
    <div style="position:fixed; bottom:0;" class="input-and-footer">
      <app-footer></app-footer>
    </div>
  </ng-container>
  <app-todo-detail-modal [open]="editTarget ? true : false" [todo]="editTarget" (close)="closeDetail()"></app-todo-detail-modal>
  <!-- <ng-container *ngIf="completeDialogShow">
  </ng-container> -->
  <app-complet [open]="completeDialogShow"></app-complet>
</div>
