@import '~src/styles.scss';

.app-input-text-modal {
  // position: fixed;
  // bottom: 55px;
  box-sizing: border-box;
  width: 100vw;
  height: 109px;
  padding: 16px;
  background: #ffffff;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.16);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  z-index: $zi-input-task;
}

.input-form {
  display: flex;
}

.input-text {
  flex: 1;
  border: none;
  border-bottom: solid 1px #f2f2f2;
  padding: 10px 16px;
  font-size: 16px;
  background: $gray-01;
  border-radius: 1000px;
  &:focus {
    outline: none;
    // border-bottom: solid 2px #009688;
  }
}

.action-btn {
  padding: 4px 16px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  background: $primary;
  cursor: pointer;
}