<div class="app-todo" [ngClass]="{'done':done}">
  <div class="icon-wrapper">
    <img [src]='done ? "/assets/icons/checkbox-checked.svg" : "/assets/icons/checkbox.svg"' alt='' (click)="changeDone()">
  </div>
  <div style="margin-left:16px;">
    <app-text [text]="todo?.task" [options]="done ? ['line-throught'] : []" size="p-6"></app-text>
    <div class="label" [style.background]="todo?.color">
      <app-text [text]="todo?.assign" size="p-1" color="white"></app-text>
    </div>
  </div>
</div>